.git
.github
.codex
node_modules
**/node_modules
**/.next
**/.turbo
**/dist
**/dist-types
**/*.tsbuildinfo
.artifacts
coverage
**/.env
**/.env.local
**/.env.development
**/.env.development.local
**/.env.test
**/.env.test.local
**/.env.production
**/.env.production.local
!**/.env.example
!**/.env.local.example
